body {
    margin: 0;
    padding:0;
}
#chessReplayApp {
    margin:40px;
    position:relative;
}
#chessReplayApp table{
    background-color: #ffce9e;
    border-spacing: 0px;
    border-collapse: collapse;
}

#chessReplayApp table td{
    width: 90px;
    height: 90px;
}

#chessReplayApp table tr:nth-child(2n+1) td:nth-child(2n+0){
    background-color: #d18b47;
}
#chessReplayApp table tr:nth-child(2n+0) td:nth-child(2n+1){
    background-color: #d18b47;
}

.piece {
    background-repeat: no-repeat;
    position:absolute;    
    width:90px;
    height:90px;
    top:0px;
    left:0px;
}

.whiteKing {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Chess_Pieces_Sprite.svg/540px-Chess_Pieces_Sprite.svg.png') 0 0;
}
.whiteQueen {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Chess_Pieces_Sprite.svg/540px-Chess_Pieces_Sprite.svg.png') 90 0;
}
.whiteBishop {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Chess_Pieces_Sprite.svg/540px-Chess_Pieces_Sprite.svg.png') 180 0;
}
.whiteKnight {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Chess_Pieces_Sprite.svg/540px-Chess_Pieces_Sprite.svg.png') 270 0;
}
.whiteRook {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Chess_Pieces_Sprite.svg/540px-Chess_Pieces_Sprite.svg.png') 360 0;
}

.whitePawn {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Chess_Pieces_Sprite.svg/540px-Chess_Pieces_Sprite.svg.png') 450 0;
}


