#chessReplayApp table{
    border: solid 4px #000;
    background-color: #ffce9e;
}

#chessReplayApp table td{
    width: 60px;
    height: 60px;
}

#chessReplayApp table tr:nth-child(2n+1) td:nth-child(2n+0){
    background-color: #d18b47;
}
#chessReplayApp table tr:nth-child(2n+0) td:nth-child(2n+1){
    background-color: #d18b47;
}