body {
    margin: 0;
    padding:0;
}
#chessReplayApp {
    margin:40px;
    position:relative;
}
#chessReplayApp table{
    background-color: #ffce9e;
    border-spacing: 0px;
    border-collapse: collapse;
}

#chessReplayApp table td{
    width: 90px;
    height: 90px;
}

#chessReplayApp table tr:nth-child(2n+1) td:nth-child(2n+0){
    background-color: #d18b47;
}
#chessReplayApp table tr:nth-child(2n+0) td:nth-child(2n+1){
    background-color: #d18b47;
}

.piece {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Chess_Pieces_Sprite.svg/540px-Chess_Pieces_Sprite.svg.png');
    background-repeat: no-repeat;
    position:absolute;    
    width:90px;
    height:90px;
    top:0px;
    left:0px;
}
.whiteKing {
    background-position: 0 0;
}
.whiteQueen {
     background-position: -90px 0;
}
.whiteBishop {
     background-position: -180px 0;
}
.whiteKnight {
     background-position: -270px 0;
}
.whiteRook {
     background-position: -360px 0;
}
.whitePawn {
     background-position: -450px 0;
}
.blackKing {
    background-position: 0 -90px;
}
.blackQueen {
     background-position: -90px -90px;
}
.blackBishop {
     background-position: -180px -90px;
}
.blackKnight {
     background-position: -270px -90px;
}
.blackRook {
     background-position: -360px -90px;
}
.blackPawn {
     background-position: -450px -90px;
}


